<div class="unselectable row">
  <div class="col-md-4 col-sm-12 mb-md-0 mb-sm-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="dashboard-heading" style="text-align: center;">Aktuelle Gewinn- und Verlustrechung</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10 guv-display-positive" *ngIf="positive">
          <p class="amount amount-p">{{ amount }}</p>
        </div>
        <div class="col-10  guv-display-neutral" *ngIf="neutral">
          <p class="amount amount-p">{{ amount }}</p>
        </div>
        <div class="col-10  guv-display-negative" *ngIf="negative">
          <p class="amount amount-p">{{ amount }}</p>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-md-0 mb-sm-2">
    <div class="container h-100 ">
      <div class="row" style="margin: 1rem 0;">
        <div class="col-8">
          <p class="dashboard-heading align-middle" >offene Aufträge:</p>
        </div>
        <div class="col-4">
          <p class="amount-p">{{ orders.length }} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container h-100">
      <div class="row" style="margin: 1rem 0;">
        <div class="col-8" >
         <p class="dashboard-heading" >getätigte Lieferungen:</p>
        </div>
        <div class="col-4">
          <p class="amount-p">{{ ordersDone.length }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row second-dashboard-row">
    <div class="col-md-6">
      <div class="chart">
        <p class="dashboard-heading">Materialbestand</p>
        <apx-chart [series]="matChartOptions.series" [chart]="matChartOptions.chart" [xaxis]="matChartOptions.xaxis">
        </apx-chart>
        <!-- <img src="../assets/lager.jpeg"> -->
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="chart">
        <p class="dashboard-heading">Produktbestand</p>
        <apx-chart [series]="prodChartOptions.series" [chart]="prodChartOptions.chart" [xaxis]="prodChartOptions.xaxis">
        </apx-chart>
      </div>
    </div>
  </div>

<!-- <div class="container"> -->
  <!-- <h2>Aufträge</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Auftrags-ID</th>
          <th scope="col">Kunden-ID</th>
          <th scope="col">Waren</th>
          <th scope="col">Status</th>
          <th scope="col">Gesamtpreis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders" scope="row">
          <td>{{order.orderId}}</td>
          <td>{{order.customerId}}</td>
          <td>
            <ul *ngFor="let item of order.items">
              <li>{{item.number}} x {{item.identifier}}</li>
            </ul>
          </td>
          <td>{{order.status}}</td>
          <td class="amount">{{order.totalPrice}}</td>
        </tr>
      </tbody>
    </table>
  </div>
 </div> -->
<!-- <br> -->
<!-- <div class="container"> -->
  <!-- <h2>Getätigte Lieferungen</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Auftrags-ID</th>
          <th scope="col">Kunden-ID</th>
          <th scope="col">Waren</th>
          <th scope="col">Status</th>
          <th scope="col">Gesamtpreis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of ordersDone" scope="row">
          <td>{{order.orderId}}</td>
          <td>{{order.customerId}}</td>
          <td>
            <ul *ngFor="let item of order.items">
              <li>{{item.number}} x {{item.identifier}}</li>
            </ul>
          </td>
          <td>{{order.status}}</td>
          <td class="amount">{{order.totalPrice}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
<!-- </div> -->