.chart{
    border: 1px solid black;
    padding: .5rem 0 0 1rem;
    border-radius: .7rem;
    margin-top: 0.7rem;
}

.container {
    border: 1px solid black;
    padding: .3rem .5rem;
    border-radius: .7rem;
}

.showAmount {
    text-align: center;
}

.dashboard-heading {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.amount-p {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

// .ordersOverview-container {
//     border: 1px solid black;
//     padding: 1rem;
//     border-radius: 1rem;
// }

.guv-display-positive, .guv-display-neutral, .guv-display-negative {
    border: 1px solid black;
    text-align: center;
}

.guv-display-positive {
    background-color: #AAFF76;
}

.guv-display-neutral {
    background-color: whitesmoke;
}

.guv-display-negative {
    background-color: #FF7676;
}