.chart{
    border: 1px solid black;
    padding: 0.7rem 0 0 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.container{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
}

.first-dashboard-row {
    height: 20%;
}

.second-dashboard-row {
    height: 70%;
}
.ordersOverview-container {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
}

.guv-display-positive, .guv-display-neutral, .guv-display-negative {
    border: 1px solid black;
    text-align: center;
}

.guv-display-positive {
    background-color: #AAFF76;
}

.guv-display-neutral {
    background-color: whitesmoke;
}

.guv-display-negative {
    background-color: #FF7676;
}