<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="chart">
            <h2>Materialbestand</h2>
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
            ></apx-chart>
          </div>
      </div>
      <div class="col-sm">
        <div class="chart">
            <h2 style="text-align: center;">Materialbestand</h2>
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
            ></apx-chart>
          </div>
      </div>
      <div class="col-sm">
        <div class="chart">
            <h2>Materialbestand</h2>
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
            ></apx-chart>
          </div>
      </div>
    </div>
  </div>
