.materialStockOverview-container, .updateMaterialStock-container {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;

}

.updateMaterialStock-container {
    margin-top: 1rem;
}