.models-overview-container {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
}

.items-container {
    display: inline-flex;
    height: auto;
    width: auto;
}

.item {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ECF0F3;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.preview {
    width: 100%;
    margin-top: 10px;
}

.identifier {
    margin-top: 15px;
    text-align: center;
}