<div class="customersOverview-container">

    <h2>Kundenübersicht</h2>

    <div class="order-filter-container">
        <p>ToDo: Suche</p>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Kunden-ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers" scope="row">
                    <td>{{customer.customerId}}</td>
                    <td>{{customer.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>