<div class="header-container unselectable">
  <div class="logo-container">
    <a [routerLink]="['']"><img src="../assets/paperplane_logo.png" class="logo unselectable"></a>
  </div>
  <div class="navigation-container">
    <!-- <div class="nav-item">Dashboard</div> -->
    <div class="nav-item" [routerLink]="['materials']">Material</div>
    <div class="nav-item" [routerLink]="['orders']">Aufträge</div>
    <div class="nav-item" [routerLink]="['customers']">Kunden</div>
    <div class="nav-item" [routerLink]="['models']">Modelle</div>
    <div class="nav-item" [routerLink]="['products']">Produktlager</div>
  </div>
</div>

<body>
  <router-outlet></router-outlet>
</body>