<div class="ordersOverview-container">

    <h2>Auftragsübersicht</h2>

    <div class="order-filter-container">
        <p>ToDo: Filtern nach Order-Status</p>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Auftrags-ID</th>
                    <th scope="col">Kunden-ID</th>
                    <th scope="col">Waren</th>
                    <th scope="col">Status</th>
                    <th scope="col">Gesamtpreis</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders" scope="row">
                    <td>{{order.orderId}}</td>
                    <td>{{order.customerId}}</td>
                    <td>
                        <ul *ngFor="let item of order.items">
                            <li>{{item.number}} x {{item.model}}</li>
                        </ul>
                    </td>
                    <td>{{order.status}}</td>
                    <td class="amount">{{order.totalPrice}}</td>
                    <td>
                        <div class="status-button-container">

                            <button type="button" class="btn btn-light btn-circle btn-md"
                                (click)="onUpdateOrderToProgress(order.status)">
                                <img src="../../../assets/icons/build-24px.svg" class="icon"></button>
                            <button type="button" class="btn btn-light btn-circle btn-md"
                                (click)="onUpdateOrderToDone(order.status)">
                                <img src="../../../assets/icons/done-24px.svg" class="icon"></button>
                            <button type="button" class="btn btn-light btn-circle btn-md"
                                (click)="onUpdateOrderToDelivered(order.status)">
                                <img src="../../../assets/icons/local_shipping-24px.svg" class="icon"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="createNewOrder-container">
    <h2>Auftrag anlegen</h2>
    <form #createOrder="ngForm" (ngSubmit)="onSubmit(createOrder.value)">
        <div class="form-group">
            <label for="customerId">Kunde</label>
            <select class="form-control" name="customerId" ngModel required>
                <!-- <option [value]=''>Material wählen...</option> -->
                <!-- Anzeige in material.identifier ändern, wenn in DB realisiert -->
                <option *ngFor="let customer of customers" [value]="customer.customerId">{{customer.name}}
                </option>
            </select>
        </div>

        <form #addItem="ngForm" (ngSubmit)="onAddToShoppingCart(addItem.value)">

            <div class="form-group">
                <label for="identifier">Modell</label>
                <select class="form-control" name="identifier" ngModel required>
                    <!-- <option [value]=''>Material wählen...</option> -->
                    <!-- Anzeige in material.identifier ändern, wenn in DB realisiert -->
                    <option *ngFor="let model of models" [value]="model.identifier">{{model.identifier}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="amount">Anzahl</label>
                <input type="number" class="form-control" name="number" ngModel required>
            </div>

            <button type="submit" class="btn btn-success">Hinzufügen</button>

        </form>

        <div class="shopping-cart-display">
            <div class="item" *ngFor="let item of shoppingCart">
                <h6 class="identifier" style="font-size: 14px;">{{item.identifier}}</h6>
                <img [src]="generateSourcePath(item.identifier)" class="preview">
                <p class="number">{{item.number}} x</p>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Bestätigen</button>
    </form>
</div>